<div class="container navbar-spacer" ng-controller="ClassesCtrl as ctrl">
    <div class="table-responsive">
        <table class="table table-condensed">
            <tr>
                <td ng-repeat="i in ctrl.classesData" class="col-md-2">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">{{i.day}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="e in i.classes">
                            <!--<td class="text-center {{e.classColour}}"><h4><small>{{e.time}}<br/></small>{{e.class}}<br/><small>{{e.teacher}}</small></h4></td>-->
                            <td class="text-center {{e.classColour}}"><h5>{{e.time}}<br/></h5><h4>{{e.class}}<br/></h4>
                                <h5>{{e.teacher}}</h5></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="panel panel-test">
        <div class="panel-heading"><h3 class="panel-title">Terms - Approximately the same as school terms</h3></div>
        <div class="panel-body">
            <p>Summer - Last day 30th July 2016</p>
            <p>Half Term - 24th October to 30th October</p>
            <p>Autumn - 5th September to 17th December</p>
        </div>
    </div>
</div>
