/*add custom colour to panel - classes*/
.panel-test {
    border-color: #800020;
}
.panel-test > .panel-heading {
    color: #fff;
    background-color: #800020;
    border-color: #800020;
}
.panel-test > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #800020;
}
.panel-test > .panel-heading .badge {
    color: #800020;
    background-color: #fff;
}
.panel-test > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #800020;
}

/*remove gutter from grid system - gallery*/
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}